body {
    width: 100%;
    height: 100vh;

}
​nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
	display: table;
	width: 100%;
}

nav li {
	display: table-cell
}

li a {
	display: block;
	color:#010e80 ;
	text-align: center;
	padding: 30px 30px;
	text-decoration: none;
}

li a:hover {
	background-color: #fefefe;
}

.bckgLogoNav {

  
}

.logoNav {
width:100%;
margin: auto;	
display:flex;
background-color:blue;	
}

.cardContainer {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    background-color: rgba(127, 229, 255, 0.708);
}
.cardContainer img {
   
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    margin: 10px;

}
​
.card1, .card2, .card3, .card4, .card5 {
    width: 80px;
    height: 120px;
    margin: 10px auto;
    border: 1px solid black;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: blue;
}
